<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="TestGC">
  <parameter name="browser" value="chrome/">
  <package name="Script">
  </package>
  </parameter>
  </test> <!-- Test -->
  
  <test name="TestFF">
  <parameter name="browser" value="firefox/">
  <package name="Script">
  </package>
</parameter>
  </test>
  
</suite> <!-- Suite -->
